#root {
  display: flex;
  flex-direction: column;
  height: 97vh;
  background-color: #00002c;
  width: 97vw;
}

.mainContent {
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
  width: 97vw;
  max-width: 1000px;
  padding: 10px;
}